{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-around align-items-center mb-3 " style="margin-top: 5vh;">
    <div class="p-1 d-block">
        <a href="#">
            <img class="img-fluid" src="images/KFC_logo.svg"alt="" width="100" height="75">
        </a>
    </div>
    <div class="d-none d-sm-block">
        <a href="#">
            How It Works
        </a>
    </div>
    <div class="d-none d-md-block">
        <a href="#">
            Sessions
        </a>
    </div>
    <div class="d-none d-lg-block">
        <a href="#">
            Mission
        </a>
    </div>
    <div class="d-none d-xl-block">
        <button class="rounded-pill px-5 py-3" type="submit">
            Join Free Session
        </button>
    </div>
</div>
<div class="container-sm text-center" style="margin-top: calc(10px + 15vh); padding-left: 10vw; padding-right: 10vw;">
    <h1>
        Helping students reach their full potential
    </h1>
</div>
<div class="text-center"  style="margin-top: calc(10px + 4vw);">
    <h2>
        Come to our free session at <br />
        <strong>Dandenong Library this Saturday!</strong>
    </h2>
</div>
<form action="">
    <div class="row justify-content-center align-items-center" style="margin-top: 5vh;">
        <div class="col-sm-3.2 text-center">
              <input 
                type="email" 
                class="rounded-pill px-5 py-3" 
                id="exampleFormControlInput1" 
                placeholder="name@example.com">
        </div>
          <div class="col-sm-1 text-center">
             <button class="rounded-pill px-5 py-3" type="submit">
                  Join
                </button>
          </div>
    </div>
</form>
{% endblock %}
