{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-around align-items-center mb-3" style="margin-top: 5vh;">
    <div>
      <a href="#">
        <img src="images/KFC_logo.svg" alt="Logo" width="100" height="75">
      </a>
    </div>
    <div>
      <a href="#">How It Works</a>
    </div>
    <div>
      <a href="#">Sessions</a>
    </div>
    <div>
      <a href="#">Mission</a>
    </div>
    <div>
      <button class="rounded-pill px-5 py-3" type="submit">
        Join Free Session
      </button>
    </div>
  </div>
  {% endblock %}
  