{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div
  class="d-flex justify-content-around align-items-center mb-3 sticky-top"
  style="margin-top: 5vh"
>
  <div class="p-1 d-block">
    <a href="#">
      <img
        class="img-fluid"
        src="../static/images/KFC_logo.svg"
        alt="KFC logo"
        width="100"
        height="75"
      />
    </a>
  </div>
  <div class="d-none d-sm-block">
    <a href="#How It Works"> How It Works </a>
  </div>
  <div class="d-none d-md-block">
    <a href="#Sessions"> Sessions </a>
  </div>
  <div class="d-none d-lg-block">
    <a href="#Mission"> Mission </a>
  </div>
  <div class="d-none d-xl-block">
    <a href="#">
      <button class="rounded-pill px-5 py-3" type="submit">
        Join Free Session
      </button>
    </a>
  </div>
</div>
<div class="container-sm text-center">
  <h1>Helping students reach their full potential</h1>
</div>

<div class="text-center" style="margin-top: calc(10px + 4vw)">
  <h2>
    Come to our free session at <br />
    <strong>Dandenong Library this Saturday!</strong>
  </h2>
</div>
<form action="/" method="POST">
  <div
    class="row justify-content-center align-items-center"
    style="margin-top: 5vh"
  >
    <div class="col-sm-3 text-center">
      <input
        type="email"
        class="rounded-pill px-5 py-3"
        id="email"
        name="email1"
        placeholder="name@example.com"
      />
    </div>
    <div class="col-sm-3 text-center">
      <button class="btn-secondary rounded-pill px-5 py-3" type="submit">
        Join
      </button>
    </div>
  </div>
</form>
<section id="How It Works">
  <div class="container-sm text-center">
    <h1>Helping students reach their full potential</h1>
  </div>

  <div class="text-center" style="margin-top: calc(10px + 4vw)">
    <h2>
      Come to our free session at <br />
      <strong>Dandenong Library this Saturday!</strong>
    </h2>
  </div>
</section>

<section id="Sessions">
  <div class="text-center">
    <h1>We turn your big ideas into perfectly packaged YouTube videos.</h1>
  </div>

  <div class="text-center" style="margin-top: calc(10px + 4vw)">
    <h2>
      <div class="text-center" style="margin-top: calc(10px + 4vw)">
        <h2>
          Work with our expert YouTube strategists, editors, analytics team, and
          producers to build a valuable and loyal audience.
        </h2>
      </div>
    </h2>
  </div>
</section>
<section id="Mission">
  <h1>Mission</h1>
</section>

{% endblock %}
