{% extends "base.html" %} 

{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">Mission</a>
      <a class="navbar-brand fw-bold" href="#">How It Works</a>
      <a class="navbar-brand fw-bold" href="#">Sessions</a>
      <a class="navbar-brand fw-bold" href="#">Resources</a>
      <a href="/sign-up" class="btn btn-warning rounded-pill fw-bold">Join Free Session</a>
    </div>
  </nav>
{% endblock %}