  @font-face {
    font-family: 'Rubik' ;
    src: url(/webapp/website/fonts/Rubik-Medium.woff2) format('woff2');
    font-display: swap;
  }
h1 {
  font-family: "Rubik" ;
}
p {
  font-family: "Rubik" ;
  font-size: 22pt;
}
.btn {
    font-family: "Rubik";
}
input {
  font-family: "Rubik";

}
